@page
@model RazorPageSamples.Pages.Modul005.CustomizeHtmlTagHelperModel

<h1>Html Helper in Eigenbau</h1>

<div>@Html.HelloWorldHTMLString()</div>
<div>@Html.HelloWorldString()</div>
<div>@Html.HelloWorld("Lieber Teilnehmer")</div>
