@page "{id:int}/{uid:int?}"
@*
    @page "{id:int}"
    @page "{latitude:double?}"
    @page "{id:min(10000)}"
    @page "{username:alpha:minlength(5):maxlength(8)}"*@

@model RazorPageSamples.Pages.Modul006.RouteTemplateConstraintsModel

    <h4>Weitere Artikel</h4>
    <a href="https://www.learnrazorpages.com/advanced/custom-constraints">custom-constraints</a>
    <a href="https://www.mikesdotnetting.com/article/333/creating-custom-constraints-for-razor-pages-routes">creating-custom-constraints-for-razor-pages-routes</a>


